.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

.card {
  width: 300px;
  border: 1px solid;
  border-radius: 10px;
  margin: 10px;
  position: relative;
}

.card h3 {
  margin: 10px auto;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 10px 50px;
  justify-content: center
}

.profile-section {
  display: flex;
  flex-grow: 1;
  min-width: 30%;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  justify-content: flex-start;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  /* height: 70vh; */
}

.profile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer {
  height: 7vh;
  background-color: #61DAFB;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-header {
  width: 100%;
}

.section-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
  align-items: center;
  overflow: scroll;
  padding: 32px;
  padding-top: 0px;
  margin-bottom: 30px;
}

.delete-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  color: rgb(232, 177, 177);
  right: 5px;
  top: 8px;
}

.delete-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

button {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
    /* background-color: #61DAFB; */
    /* color: black; */
    background-color: #3647a2;
    color: white;
    outline: none;
}

button:hover {
  cursor: pointer;
}